@import "tailwindcss";

/**
 * Theme settings and variables
 * https://tailwindcss.com/docs/theme#theme-variable-namespaces
 */
@theme {
    /* DESKTOP FIRST / PART A -> https://stackoverflow.com/a/79607480 */
    --breakpoint-*: initial;
    /* Fonts */
    --font-f-everywhere: "Inter", sans-serif;
    /* Colors */
    --color-c-accent: #4647d2;
    --color-c-error: #d5000d;
    --color-c-dark-full: #2d2c32;
    --color-c-dark-half: #6c6b72;
}

/* DESKTOP FIRST / PART B -> https://stackoverflow.com/a/79607480 */
@custom-variant 2xl (@media (max-width: 1535px));
@custom-variant xl (@media (max-width: 1279px));
@custom-variant lg (@media (max-width: 1023px));
@custom-variant md (@media (max-width: 767px));
@custom-variant sm (@media (max-width: 639px));

/**
 * Default styling and global css rules
 */
@layer base {
    @font-face {
        font-family: "Inter";
        src: url("./fonts/Inter-VariableFont_opsz,wght.ttf");
        font-weight: 100 900;
        font-stretch: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Inter";
        src: url("./fonts/Inter-Italic-VariableFont_opsz,wght.ttf");
        font-weight: 100 900;
        font-stretch: normal;
        font-style: italic;
        font-display: swap;
    }

    html {
        font-size: 14px; /* 80% of default 16px */
    }
    body {
        @apply relative min-w-[320px] min-h-screen font-f-everywhere text-c-dark-full;
        font-optical-sizing: auto;
        background-color: rgb(252, 252, 252);
        background-image: url("./images/background/bgdots.svg");
        background-position: top center;
        background-size: 1.5rem;
    }
    #root {
        @apply min-h-screen flex flex-col w-full max-w-6xl px-3 mx-auto;
    }

    .recharts-wrapper * {
        outline: none !important;
    }
}
